/* @override http://localhost:8080/mymime/front-page/++resource++collective.transform.xtags/xtags.css */

.btn-group {
	display: inline
}

#result, .xtags-header {
	width: 100%;
	display: block
}

.xtags-header::after {
	height: 1px;
	clear: both;
	width: 100%;
	display: block
}

.xtags-textarea {
	white-space: pre-wrap;
	float: left;
	min-height: 300px;
	display:  inline-block;
	width: 100%;
}

.previewbuttons {
	width:  100%;
	padding-bottom: 1em;
}

.halfwidth {
	width: 49% !important;
	clear: none;
	display: block;
	height: 700px;
}

#result {
	overflow: scroll;
	float: right;
	margin-bottom: 5px;
	border: 1px solid #CCC;
	padding: 10px;
	border-radius: 6px;
	resize: vertical;
	max-height:  700px;
}

.disabled {
	opacity: 0.4
}

div.flexbox {
	height: 500px;
	}

a#you_are_here {
	font-weight:bold;
	color:  red;
	font-size: 2em;
	display:block;
	margin-left:  -10pt;
}

#xtags-holder {
	display: none;
	opacity:  0.4;
}

mark {
  opacity: 0.4;
  margin-left: 0.4em;
  margin-right: 0.4em;
}

.hidemarks mark {
  xdisplay: none !important;
}